@import "vars";

@mixin col($column) {
  flex: 0 0 (100% / 12) * $column;
  max-width: (100% / 12) * $column;
}

._container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

._row {
  display: flex;
  flex-wrap: wrap;
}

._col {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  @for $i from 3 to 13 {
    &-sm-#{$i},
    &-md-#{$i},
    &-lg-#{$i},
    &-xl-#{$i} {
      @extend ._col;
    }
  }
}

._col-xl {
  @for $i from 3 to 13 {
    &-#{$i} {
      @include col($i);
    }
  }
}

@media (max-width: $lg) {
  ._col-lg {
    @for $i from 3 to 13 {
      &-#{$i} {
        @include col($i);
      }
    }
  }
}

@media (max-width: $md) {
  ._col-md {
    @for $i from 3 to 13 {
      &-#{$i} {
        @include col($i);
      }
    }
  }
}

@media (max-width: $sm) {
  ._col-sm {
    @for $i from 3 to 13 {
      &-#{$i} {
        @include col($i);
      }
    }
  }
}

@media (max-width: $xs) {
  ._col-6 {
    @include col(6);
  }
  ._col-12 {
    @include col(12);
  }
}
