@import "../vars";

.footer {
  background-color: $grey-bg-color;
  &-box {
    position: relative;
    padding-top: 32px;
    padding-bottom: 18px;
    align-items: flex-start;
    &:before {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      left: $padding-column;
      right: $padding-column;
      height: 4px;
      background-color: $grey-separator-color;
    }
  }
  &-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 22px;
  }
  &-copy {
    text-align: right;
    font-size: 16px;
    line-height: 19px;
    color: $grey-text-color;
  }
  &-adress {
    font-size: 16px;
    line-height: 19px;
    color: $main-color;
  }
  &-map {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $link-color;
  }
  &-facebook {
    display: block;
    font-size: 0;
    line-height: 0;
    &:before {
      display: block;
      content: '';
      width: 38px;
      height: 38px;
      background-image: url(../images/Facebook3.svg);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  &-phone {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $main-color;
  }
  &-email {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: $link-color;
  }
}

@media (max-width: $md) {
  .footer {
    &-contacts {
      justify-content: center;
    }
    &-copy {
      text-align: center;
    }
  }
}