@import "../vars";

.tags {
  margin-bottom: 60px;
}

.tag-1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.tag-with-choice {
  flex: 0 0 35%;
  max-width: 35%;
  padding-right: 40px;
  position: relative;
}

.tag-with-choice::after {
  content: '';
  height: 100%;
  position: absolute;
  display: block;
  border: 2px solid #E6E6F0;
  transform: rotate(0deg);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.all-links-choices:not(:last-child) {
  margin: 0 0 20px;
}

.tag-links {
  font-family: 'TTNorms-Bold';
  display: block;
  text-align: right;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  color: #B3B3BA;
  position: relative;
}

.tag-links:hover {
  display: block;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  background: -o-linear-gradient(359.87deg, #EF8080 0.84%, #F0145A 99.96%);
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag-links::after {
  content: '';
  opacity: 0;
  height: 100%;
  border-right: 4px solid #F0145A;
  position: absolute;
  top: 0;
  right: -40px;
  z-index: 5;
}

.tag-links:hover::after {
  opacity: 1;
}

.tag-links.active-link {
  display: block;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  background: -o-linear-gradient(359.87deg, #EF8080 0.85%, #F0145A 99.95%);
  background: linear-gradient(90.13deg, #EF8080 0.85%, #F0145A 99.95%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-page-text {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  display: none;
}

.first-page-text.appareant {
  display: flex;
}

.page-title {
  font-family: 'TTNorms-Medium';
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: white;
  margin-bottom: 20px;
}

.text-title-main {
  font-family: 'TTNorms-Regular';
  font-size: 21px;
  line-height: 30px;
  color: white;
}

.services-header {
  margin-bottom: 68px;
}

.fot-nav {
  font-family: 'TTNorms-Bold';
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
}

.services-nav {
  color: rgba(255, 255, 255, 0.5);
}

.services-nav::after {
  content: '';
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  top: 4px;
  right: -10px;
  z-index: 1;
  transform: rotate(-45deg);
}

.wrapper-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper-itm {
  display: flex;
  max-width: 30%;
  flex-direction: column;
}

.law-terms {
  display: inline-flex;
  width: 92px;
  height: 92px;
  padding: 14px;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 24px;
  margin-bottom: 20px;
}

.law-page {
  font-family: 'TTNorms-Medium';
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #24A3FF;
}

.law-page-big {
  margin-bottom: 15px;
}

.page-text {
  font-family: 'TTNorms-Medium';
  color: #323264;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
}

.page-text-parts {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}

.team-members {
  display: block;
  position: relative;
  overflow: hidden;
}

.team-members-slick {
  display: block;
}

.team-members-itm {
  background-color: #F5F5FA;
  border-radius: 12px;
  display: flex;
}

.team-members-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 63%;
  max-width: 63%;
  padding: 40px 20px 0 40px;
}

.team-lead {
  color: #24A3FF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 3px 0;
}

.gradient-for-title {
  font-family: 'TTNorms-Bold';
  display: block;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-text-banner {
  font-size: 18px;
  line-height: 19px;
  color: #B3B3BA;
}

.text-for-comp {
  font-family: 'TTNorms-Medium';
  font-weight: normal;
  margin-top: 20px;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
}

.page-text-members {
  font-family: 'TTNorms-Regular';
  font-size: 18px;
  line-height: 22px;
  color: #B3B3BA;
}

.hlegals-s {
  font-family: 'TTNorms-Medium';
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #B3B3BA;
}

.profession {
  margin-bottom: 20px;
}

.profession-wrapper {
  width: 100%;
  border-radius: 12px 0px 0px 0px;
  padding: 20px 0 20px;
}

.profession-itm {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  border-left: 2px solid white;
  border-bottom: 1px solid white;
}

.profession-nav {
  width: 100%;
  color: #F0145A;
  padding-bottom: 20px;
}

.profession-title {
  font-family: 'TTNorms-Medium';
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #686887;
  padding-bottom: 20px;
}

.page-text-banner {
  font-family: 'TTNorms-Regular';
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.friends-itm {
  flex: 0 0 25%;
  max-width: 25%;
  height: 120px;
  background-color: transparent;
}

.friends-itm:nth-child(1) {
  background-color: #1C4280;
}

.friends-itm:nth-child(2) {
  background-color: #143646;
}

.friends-itm:nth-child(3) {
  background-color: #F48B30;
}

.friends-itm:nth-child(4) {
  background-color: #9E4DC3;
}

.friends-itm:nth-child(5) {
  background-color: #FD9339;
}

.friends-itm:nth-child(6) {
  background-color: #E2E2E4;
}

.friends-itm:nth-child(7) {
  background-color: #C71C36;
}

.friends-itm:nth-child(8) {
  background-color: #DCF3F9;
}

.friends-itm:nth-child(9) {
  background-color: #EAEAEA;
}

.friends-itm:nth-child(10) {
  background-color: #282240;
}

.friends-itm:nth-child(11) {
  background-color: #1D4568;
}

.friends-itm:nth-child(12) {
  background-color: #000000;
}

.friends-link {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link {
  font-family: 'TTNorms-Bold';
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #24A3FF;
}

.main-icon {
  display: block;
  width: 38px;
  height: 38px;
  fill: #24A3FF;
}

.information-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

.information-contacts-main {
  color: #B3B3BA;
}

.facebook-white {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin: 0;
}

.header-contacts {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.header-contacts .tel {
  font-family: 'TTNorms-Medium';
  font-weight: 700;
  position: relative;
  margin-right: 20px;
}

.header-contacts .tel::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  position: absolute;
  bottom: 38%;
  left: -11px;
}

.header-contacts .tel::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  position: absolute;
  top: 30%;
  right: -11px;
}

.contacts-menu {
  display: flex;
  align-self: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background: transparent;
  border: none;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn-blue {
  font-family: 'TTNorms-Bold';
  width: 100%;
  max-width: 250px;
  padding: 20px 0;
  font-size: 14px;
  background-color: #24A3FF;
  color: white;
  border-radius: 12px;
  margin: auto;
}

.btn-blue:hover {
  background-color: #0085FF;
  transition: 0.5s ease-in-out;
}

.btn-blue:active {
  background-color: #006CCF;
  transition: 0.5s ease-in-out;
}

.btn-down {
  width: 42px;
  height: 42px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: auto;
  opacity: 50%;
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  z-index: 5;
}

.btn-down::after {
  content: '';
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 12px;
  left: 11px;
  z-index: 1;
}

.btn-team {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F5F5FA;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.btn-team::after {
  content: '';
  border: solid #24A3FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 10px;
  right: 11px;
  z-index: 1;
}

.team .wrapper-itm {
  position: relative;
  margin-bottom: 40px;
}


.articles {
  border-radius: 12px 12px 0 0;
  padding-top: 40px;
  background-color: #F5F5FA;
}

.articles .gradient-for-title {
  margin-bottom: 34px;
}

.articles .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.articles .wrapper-itm {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 40px;
}

.articles .wrapper-itm img {
  min-height: 233px;
  overflow: hidden;
}

.articles-nav {
  color: #24A3FF;
}

.articles-nav::after {
  border: solid #24A3FF;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  position: absolute;
  top: 4px;
  left: 91px;
  z-index: 1;
}

.articles-content {
  padding: 20px 21px;
}

.articles-header {
  border-bottom: 4px solid #E6E6F0;
  margin-bottom: 20px;
}

.articles-title {
  font-family: 'TTNorms-Medium';
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  color: #24A3FF;
  padding-bottom: 20px;
}

.articles-text {
  font-family: 'TTNorms-Medium';
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.articles-date {
  font-family: 'TTNorms-Medium';
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 2;
  color: #B3B3BA;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.articles .btn-blue {
  position: absolute;
  left: 0;
  bottom: 60%;
  right: 0;
  z-index: 10;
}

.articles-gradient {
  width: 100%;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, #F5F5FA 86.5%);
}

.fot-nav-confidence {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #323264;
}

.contacts-text {
  font-family: 'TTNorms-Regular';
  font-size: 21px;
  line-height: 30px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.contacts-text:nth-child(2) {
  padding-bottom: 0;
  margin-bottom: 20px;
}

.contacts-text:nth-child(1)::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.contacts .contact-link {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.contacts .contact-link::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.contacts-link {
  display: flex;
  flex-basis: 40%;
  max-width: 40%;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}
