@import "../vars";

.section {
  padding-top: 180px;
  position: relative;
  z-index: 5;
  &-gradient {
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(42.01deg, #323264 14.33%, #323264 75%, #7A425E 87.53%);
  }
  &-gradient-column {
    height: auto;
    margin: 0 auto 60px;
    padding-bottom: 80px;
    border-radius: 0 0 12px 12px;
    background-image: linear-gradient(228.57deg, #323264 50%, #323264 90%, #643E72 98%);
    position: relative;
    z-index: 10;
  }
  &-gradient-column::after {
    content: '';
    display: block;
    width: 98%;
    height: 10px;
    background-color: #CACADB;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
  }
  &-gradient-column::before {
    content: '';
    display: block;
    width: 96%;
    height: 10px;
    background-color: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }
  &-title {
    font-family: 'TTNorms-Medium';
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    line-height: 45px;
    color: white;
    padding-top: 70px;
    position: absolute;
    top: 15%;
    z-index: 1;
  }
  &-banner {
    max-width: 595px;
    margin: 0 auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
  }
  &-banner img {
    padding-top: 80px;
  }
  &-shade {
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: -14%;
    left: 0;
    z-index: 1;
  }
}
